@font-face {
    font-family: RobotoBold;
    src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('assets/fonts/Roboto-Regular.ttf');
}


:root {
    --bg-color: #36384D;
    --bg-color-2: #232744;
}

@media (min-width: 710px) {
    body {
      min-height: 100vh;
      background-color: var(--bg-color);
      display: grid;
      place-items: center;
    }
}

*,
*::after,
*::before {
box-sizing: border-box;
}

*{
    margin: 0;
    font: inherit;
    font-family: RobotoRegular;
}

main {
    overflow: scroll;
    display: grid;
    min-height: 100vh;
}

.mobile {
    width: min(44.375rem, 100%);
    max-height: 100%;
}

.desktop {
    display: none;
}

.signup {
    padding: 3rem 2rem 2rem 2rem;
    display: grid;
    align-content: start;
    gap: 2rem;
}

.signup-content {
    display: grid;
    gap: 1.8rem;
}

.section-title {
    font-family: RobotoBold;
    font-size: 2.7rem;
    font-weight: 900;
    color: var(--bg-color-2);
}

p,
span {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.list {
    display: grid;
    gap: 1rem;
}

.list-item {
    display: flex;
    align-items: start;
    gap: .5rem;
}

.list-icon {
    max-width: 1rem;
}

input[type=email] {
    display: block;
    line-height: 1;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid #EAEAEA;
    font-size: .8rem
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: .4rem;
  font-weight: 900;
  font-size: .7rem;
}

.error {
  display: none;
  color: #e5918b;
}   

input:focus {
    outline: 2px solid var(--bg-color-2)
}

input.valid:focus-visible {
    outline: 2px solid darkgreen;
}

input.invalid:focus {
  background-color: #ffe8e6;
  outline: 2px solid orangered;
}

.button {
    display: block;
    color: white;
    font-size: .9rem;
    line-height: 1;
    background: var(--bg-color-2);
    width: 100%;
    padding: 1.1rem 0;
    border: 0;
    border-radius: .4rem;
    cursor: pointer;
    margin-inline: auto;
    max-height: 4rem;
  }
  
button:hover{
  background: linear-gradient(90deg, #ff5379, #ff693a);
  box-shadow: 0px 10px 1rem hsla(350, 800%, 80%, 0.8)
}

.signup-form {
    display: grid;
    gap: 1rem;
    margin-top: .7rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

@media(min-width: 710px) {

    main {
        place-items: center;
    }

    .newsletter {
        margin-inline: 2rem;
        padding: 1rem;
        max-width: 45rem;
        max-height: 30rem;
        background-color: white;
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        border-radius: 2rem;
    }

    .image-mobile {
        display: none;
    }

    .image-desktop,
    .desktop {
        display: flex;
        justify-content: end;
        max-height: 28rem;
    }

    .section-title {
        font-size: 2.2rem;
    }

    p,
    span {
        font-size: 0.84rem;
        font-weight: unset;
    }


    .signup {
        align-items: center;
        padding: 3rem 3rem 2rem 2rem;
        gap: 1rem;
    }

    label {
        font-size: 0.7rem;
        font-weight: 900;
    }

}

.newsletter-success {
    padding: 3rem;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    border-radius: 2rem;
    align-content: space-between;
}

.newsletter-success .section-title {
    margin-top: 1rem;
    font-size: 3.5rem;
    height: fit-content;
}

.success-content {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.newsletter-success span {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--bg-color-2);
}

.newsletter-success p {
    font-size: 1.7rem;
    font-weight: 500;
}

.newsletter-success .list-icon{
    max-width: 4rem;
    width: 4rem;
    display: block;
}


@media(min-width: 710px) {
    .newsletter-success {
        margin-inline: 2rem;
        padding: 3rem;
        width: min(30rem, 100%);
        height: min(30rem, 100%);
        gap: 2rem;
    }

    .newsletter-success .section-title {
        margin-top: .5rem;
        font-size: 3rem;
    }

    .success-content {
        display: grid;
        gap: 1rem;
    }

    .newsletter-success span {
        font-size: 1.05rem;
    }

    .newsletter-success p {
        line-height: 1.5;
        font-size: 1.1rem;
    }

    .newsletter-success .list-icon{
        max-width: unset;
        width: 3rem;
    }
}

@media(max-height: 710px) {
    .newsletter-success {
        padding: 3rem;
    }
}

@media(max-width: 520px) {
    .newsletter-success {
        padding: 2rem;
    }

    .newsletter-success .section-title {
        margin-top: .5rem;
        font-size: 2.5rem;
    }

    .newsletter-success span {
        font-size: 1rem;
    }

    .newsletter-success p {
        line-height: 1.5;
        font-size: 1rem;
    }
}
